#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body, html{
  margin: 0;
  padding: 0;
  
  width: 100vw; 
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



.all-content{
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: 1fr 9fr;
  
}

.home-img{
  margin-top: 50px;
  border-radius: 8px;
  width: clamp(200px, 50vw, 600px);
}

.create-img{
  margin-top: 50px;
  width: clamp(50px, 15vw, 200px);
}


.nav-bar{
  display: flex;
  height: 100vh;
  padding-top: 50px;
  gap: 15px;
  min-width: 120px;
  background-color: #534f4f;
  flex-direction: column;
}

a:link{
  text-decoration: none;
  font-weight: 600;
  color: white;
 
}

a:link {color:#FFFAFA;}     
a:visited {color:#FFFAFA;} 
a:hover {color:#b6adad;}  
a:active {color:#cfc5c5;} 

.create-form{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

input{
 border-radius: 8px;
 outline: none;
 border: none;
 height: 20px;
}

.form-att{
  border-radius: 8px;
  width: 200px;
  height: 180px;
  background-color: rgb(131, 124, 124);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.create-form-type{
  display: flex;
  width: 190px;
  padding-left: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.validation-box{
  height: 16px;
  width: 80%;
  margin-top: 3px;
  font-size: 10px;
  color: rgb(207, 5, 5);
  font-weight: 700;
  text-align: start;
}

.create-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


button{
  padding: 12px 30px;
  margin-top: 20px;
  border-radius: 8px;
  outline: none;
  border: none;
  color: white;
  background-color: rgb(3, 151, 3);
  cursor: pointer;
}

button:hover{
  background-color: rgb(4, 116, 4);
}
.gallery{
  display: flex;
  margin: 20px 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5vw;
  overflow-y: auto;
}
.gallery-card{
  background-color: #eee7e7;
  box-shadow: 1px 1px 6px 2px #b6adad;
  padding: 10px;
  width: 180px;
  height: 180px;
  text-align: left;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}
.gallery-card-attr{
  display: flex;
  flex-direction: column;
  gap: 10px;
 
}

.gallery-card-attr div{
  
 display: flex;
 width:150px;
 justify-content: left;
 
 
}


.input-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inform-box{ 
  font-size: 12px;
  font-weight: 700;
  margin-top: 20px;
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
 
}

.inform-box-display{
  
  background-color: rgb(216, 208, 208);


}

.inform-box-disappear{
  transform: scaleX(0);
  transform: scaleY(0);
  transition: all 1s ease-out;
}

.update-page{
  display: flex;
  flex-direction: column;
}

.update-page-attr-card{

  width: 260px;
  height: 180px;
  border-radius: 8px;
  padding: 10px 20px;
  align-self: center;
  box-shadow: 2px 2px 5px 5px grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}


.gallery-card-buttons{
  display: flex;
  gap: 10px;
}
.gallery-card-button{
  padding: 0;
  width: 80px;
  height: 30px;
  text-align: center;
}